* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-section {
  background-color: #1f2937;
  height: 35rem;
  color: #fff;
}
nav {
  width: min(100%);
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
ul {
  display: flex;
  align-items: center;
  color: #1f2937;
  padding-left: 2rem;
  padding: 10px 0 0 0;
}
ul li {
  padding-left: 5rem;
}
section {
}
.hero {
  width: min(70%, 90rem);
  padding-block: 2rem 2rem 0 2rem;
  margin-inline: auto;
  display: flex;
  margin-top: 3.5rem;
}
.logo {
  height: 4rem;
  width: 100%;
  display: flex;
}
.hero-text {
}
.hero-img {
}
h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}
.hero-img-girl {
  height: 20rem;
  width: auto;
  margin-left: 2rem;
  border-radius: 10px;
}
img:hover {
  transition: ease-in-out 0.3s;
  transform: scale(1.1);
}
button {
  background-color: #3882f6;
  color: #fff;
  outline: none;
  padding: 1rem 1.5rem;
  align-items: center;
  appearance: button;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  background-color: #006ae8;
}

.button:hover {
  background-color: #1c84ff;
}
.discover {
  margin: 4rem 0;
  width: min(70%, 90rem);
  padding-block: 2rem 2rem 0 2rem;
  margin-inline: auto;
}
.discover h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}
.discover p {
  font-size: 25px;
  color: #1f2937;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
}
.boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  gap: 10px;
}

.boxes img {
  height: 10rem;
  width: 10rem;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
}

.boxes p {
  display: block;
  font-size: 18px;
  justify-content: center;
}
.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  color: #1f2937;
}
.quote .quote-text {
  width: min(70%, 90rem);
  padding-block: 2rem 2rem 0 2rem;
  margin-inline: auto;
  font-style: italic;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #1f2937;
  margin: 4rem 0;
}
.quote-text .quote-author {
  display: block;
  text-align: right;
  color: #1f2937;
  font-weight: 900;
}
.cta {
  width: min(73%, 90rem);
  padding-block: 2rem 2rem 0 2rem;
  margin-inline: auto;
  color: #fff;
}
.cta-text {
  padding: 2rem 3rem;
  margin: 4rem;
  display: flex;
  background-color: #1c84ff;
  border-radius: 10px;
  font-size: 20px;
  font-family: sans-serif;
}
.cta a{
 color: #fff;
 font-weight: 900;
}
.cta-p {
  flex: 1;
  padding-right: 3rem;
}
.cta strong{
 font-size: 25px;
}
.cta button {
  
  margin-top: 1.8rem;
  flex: 1;
  border: 3px solid #fff;
}

footer{
 text-align: center;
 background-color: #1f2937;
 color: #fff;
 padding: 2rem;
}
